.chats-page {
  position: relative;
  display: flex;
  height: 100vh;

  &__input {
    .input {
      border: none;
    }
  }

  &__button {
    width: auto;
  }

  .search-input {
    margin-bottom: var(--small-margin-bottom);
  }

  .messages {
    padding: var(--small-margin-bottom);
  }
}

.chats-side {
  width: 100%;
  padding: var(--small-margin-bottom);
  border-right: 1px solid var(--second-black);
}

.messages-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__chat-info {
    display: flex;
    flex-direction: column;
    padding: var(--small-margin-bottom);

    .chat-name {
      font-size: 24px;
    }

    .chat-online {
      font-size: 13px;
    }
  }
}

.message-controls {
  display: flex;
  border-top: 1px solid var(--second-black);
}
