/* stylelint-disable string-quotes */
/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --white: #fff;
  --main-black: #101010;
  --second-black: #424242;
  --small-margin-bottom: 16px;
  --medium-margin-bottom: 32px;
  --error-color: #f00;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #0f1b07;
}

li {
  list-style-type: none;
}
